@model ConsommiTounsiDotNet.Models.Ray

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ray</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idRay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_rayon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_rayon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /*idRay= Model.idRay*/ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
